@inherits UmbracoViewPage

@{
    var articleList = Model.Root().Descendants<ArticleList>().FirstOrDefault();
    var articles = articleList.Descendants<Article>().OrderByDescending(x => x.ArticleDate);

    var isArticleListPage = articleList.Id == Model.Id;
    var fallbackPageSize = isArticleListPage ? 10 : 3;
}

@if (articles != null && articles.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @foreach (var article in articles)
                {
                    <div class="post-preview">
                        <a href="@article.Url">
                            <h2 class="post-title">
                                @(!string.IsNullOrWhiteSpace(article.Title) ? article.Title : article.Name)
                            </h2>
                            @if (!string.IsNullOrWhiteSpace(article.Subtitle))
                            {
                                <h3 class="post-subtitle">
                                    @article.Subtitle
                                </h3>
                            }
                        </a>
                        <p class="post-meta">
                            @Shared.GetArticleMeta(article.AuthorName, article.ArticleDate)
                        </p>
                    </div>
                    <hr>
                }
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="@articleList.Url">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>
}