@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}


<div class="container">

    <!-- Featured blogpost -->
    <div class="row section">
        <div class="col-md-12">
            @{
                var featuredStory = Model.Value<IPublishedContent>("featuredStory");
                if (featuredStory != null)
                {
                    <a href="@featuredStory.Url" class="featured-link">
                        <div class="featured-blog">
                            @{
                                var featuredImage = featuredStory.Value<IPublishedContent>("thumbnailImage");
                            }
                            <div class="image-box" style="background-image:url('@featuredImage.Url')"></div>
                            <h2>@featuredStory.Value("pageTitle")</h2>
                            <p>
                                @featuredStory.Value("excerpt")
                            </p>
                            <a href="@featuredStory.Url" class="btn btn-primary">Read more >></a>
                        </div>
                    </a>
                }
            }
        </div>
    </div>



    <!-- Latest blog posts -->
    <div class="row section">
        <div class="col-md-12">
            <h3>Latest stories</h3>
        </div>
    </div>

    @{var selection = Umbraco.Content(Guid.Parse("4e8fe4ea-0823-4d40-bb55-fc6c275f47d8"))
          .ChildrenOfType("blogItem")
          .Where(x => x.IsVisible());}
    <div class="row">
        @foreach (var item in selection)
        {
            var thumbnail = item.Value<IPublishedContent>("thumbnailImage");
            <div class="col-md-4">
                <a href="@item.Url" class="featured-link">
                    <div class="thumbnail-blog">
                        <div class="thumbnail-img" style="background-image:url('@thumbnail.Url')"></div>
                        <h5>@item.Value("pageTitle")</h5>
                    </div>
                </a>
            </div>
        }
    </div>

</div>
